[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[color "decorate"]
[alias]
	st = status
[core]
	ignorecase = false
	editor = /usr/local/bin/emacs
[push]
	default = matching
